In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('news_headlines.csv')

In [4]:
df.iloc[33110:33121,:]

,publish_date,headline_category,headline_text
33110,20010928,unknown,Watch CM sip nimbu pani at roadside stall
33111,20010928,entertainment.hindi.bollywood,Esha Deol: Prospective Queen Bee?!
33112,20010928,city.mumbai,Govt concedes NBA demands; Medha breaks fast
33113,20010928,pune-times,Too Much of Somethings
33114,20010928,india,US should have paid heed to our warnings: PM
33115,20010928,city.hyderabad,Drive to check sound pollution in cinemas
33116,20010928,city.mumbai,Handicrafts showcase Indian state of the arts
33117,20010928,city.hyderabad,Recycling of continues batteries unchecked
33118,20010928,lucknow-times,Dancing with god's grace
33119,20010928,entertainment.hindi.bollywood,Sunny Deol: Anil Sharma's favourite!
33120,20010928,hyderabad-times,Our very own Bridget Joneses